body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 25px;
}

fieldset {
    margin: 1rem;
    overflow: auto;
    
}

form {
    margin: 10px auto;
    padding: 1rem 3rem;
    max-width: 600px;
    min-width: 400px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

input {
    margin: 0.5rem 0;
    font-size: 1rem;
}
input[type="text"], 
input[type="email"],
input[type="url"] {
    width: 70%;
}
  
input[type="submit"] {
    display: block;
    margin: 1em auto;
    font-size: 1.25rem;
}

label {
    margin: 3rem 0;
    font-size: 2rem;
}

textarea {
    width: 99%;
}

select, textarea {
    font-size: 1rem;
}

.invalid {
    border: 3px solid red;
}

#person-request div {
    display: none;
    margin-top: 2rem;
}