body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 25px;
}

form, fieldset {
    margin: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

input {
    margin: 0.5rem 0;
    font-size: 1rem;
}
input[type="text"], 
input[type="email"],
input[type="url"] {
    width: 65vw;
}
  
input[type="submit"] {
    display: block;
    margin: 1em auto;
    font-size: 1.25rem;
}

label {
    margin: 3rem 0;
    font-size: 2rem;
}

select, textarea {
    font-size: 1.25rem;
}

.invalid {
    border: 3px solid red;
}

#person-request div {
    display: none;
    margin-top: 2rem;
}